body
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif
  overflow-x: hidden
  -webkit-user-select: none
  margin: 0; padding: 0
  background: #F2F2F2
  color: #575757

* 
  -webkit-tap-highlight-color: rgba(0,0,0,0)