
.contacts.listView > article
  &:empty::after
    display: block
    text-align: center
    margin: 10% 0
    content: "No contacts"
    
.contacts.showView > article
  padding: 20px
  
  img
    max-width: 150px
    max-height: 150px